.aws-btn {
    --button-default-height: 44px !important;
    --button-default-font-size: 14px !important;
    --button-default-border-radius: 4px !important;
    --button-horizontal-padding: 16px !important;
    --button-raise-level: 4px !important;
    --button-hover-pressure: 1 !important;
    --transform-speed: 0.15s !important;
    --button-primary-color: #1e88e5;
    --button-primary-color-dark: #1360a4;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #187bd1;
    --button-primary-color-active: #166dba;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-color-active: #cfdee9;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-color-active: #0c4271;
    --button-anchor-border: none;
    --button-danger-color: rgb(220,53,69) !important;
    --button-danger-color-dark: #861f1f !important;
    --button-danger-color-light: #ffffff !important;
    --button-danger-color-hover: rgb(220,18,37) !important;
    --button-danger-color-active: #af2929 !important;
    --button-danger-border: none !important;
  }