div.button-group,div.sort-group{
    margin-left:30vw;
}
button#button {
    margin-right:3vw;
    height:7vh;
    width:15vw;
}
div.sort-group{
    margin-top: 10vh;
}
div.sort-by{
    margin-top:13vh;
    margin-left:7vw;
}