@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
input,
button {
  padding: 4px;
  font-size: 20px;
  font-family: 'Staatliches',cursive;
  background-color:#A53167  ;
  color:#0D1117;
}
h1.date{
  font-family: 'Parisienne', cursive;
  font-size: 76px;
}
.wrapper {
  display: inline-block;
}

.suggestions {
  width: 300px;
  max-height: 'fit-content';
  position: absolute;

  background-color: #A53167;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suggestion {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #eee;
}

div.suggestionList{
  background-color:  #A53167 ;
  height:fit-content;
  padding:5px;
  cursor:pointer;
    
}
div.suggestionList:hover{
  background-color: #0D1117;   
}
button.search{
  padding:5px;
  color:#A53167  ;
  background-color:#0D1117;
  border:none;
  width:2vw;
  border-radius: 5px;
  margin-left:5px;
}
button.search:hover{
  background-color: white;
}
button.match{
  padding:5px;
  background-color:#A53167  ;
  color:white;
  border:none;
  width:12vw;
}