
input,
button {
  padding: 4px;
  font-size: 20px;
  
  background-color:white ;
  
  color:#0D1117;
}
h1.date{

  font-size: 76px;
}
.wrapper {
  display: inline-block;
}



.suggestions {
  width: 300px;
  max-height: 'fit-content';
  position: absolute;

  background-color: #A53167;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suggestion {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #eee;
}

div.suggestionList{
  background-color:  #A53167 ;
  height:fit-content;
  padding:5px;
  cursor:pointer;
    
}
div.suggestionList:hover{
  background-color: #0D1117;   
}
button.search{
  padding:5px;
  color:#A53167  ;
  background-color:#0D1117;
  border:none;
  width:2vw;
  border-radius: 5px;
  margin-left:5px;
}
button.search:hover{
  background-color: white;
}
button.match{
  padding:5px;
  background-color:#A53167  ;
  color:white;
  border:none;
  width:120px;
}
.dn-bg {
 
  min-height:100vh;
  height:fit-content;
  background: linear-gradient(284deg, #17161b, #62393d, #17161b);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}