div[class="frost"] {
    background: inherit;
}
 
div[class="frost"]:before {
    background: inherit;
}

div[class="frost"]:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}