@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Staatliches&display=swap');

body{
   background-color: rgb(23,22,27);  
}

h1,a,h3,h5,span,p#title{

  font-family: 'Staatliches', cursive;
  color:white;
}

nav{
  background-color: rgb(23,22,27); 
  border-style: solid;
  border-color:rgb(23,22,27);
  border-bottom-color:rgb(27,26,31);
}
a.dropdown-item{
  color:white;
}
div#sidebar{
  background-color: rgb(23,22,27); 
  border-style: solid;
  border-color:rgb(23,22,27);
  border-right-color:rgb(27,26,31);
}