@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Staatliches&display=swap');

body{
   background-color: rgb(23,22,27);  
}

h1,h2,h4,a,h3,h5,h6,span,p#title{
  font-family: 'Staatliches', cursive;
  color:white;
}
li{
  list-style-type: '';
}
nav{
  background-color: rgb(23,22,27); 
  border-style: solid;
  border-color:rgb(23,22,27);
  border-bottom-color:rgb(27,26,31);
}
a.dropdown-item{
  color:white;
}
div#sidebar{
  background-color: rgb(23,22,27); 
  border-style: solid;
  border-color:rgb(23,22,27);
  border-right-color:rgb(27,26,31);
}
h3.feature,h1.feature{
  color:rgb(255,0,77);
}

div[class="genres"]{
  color:white;
  width:fit-content;
  font-family: 'Staatliches', cursive;
  padding:5px;
  margin-top: 0px;
  margin: 5px;
  display:inline;
}
div[id="Action"]{
  background-color: red;
}
div[id="Adventure"]{
  background-color: blue;
}
div[id="Science Fiction"]{
  background-color: orange;
}
div[id="Animation"]{
  background-color: rgb(206, 142, 152);
}
div[id="Comedy"]{
  background-color: rgb(188, 188, 6);
}
div[id="Crime"]{
  background-color: darkslategrey;
}

div[id="Documentary"]{
  background-color: black;
}
div[id="Drama"]{
  background-color: green;
}
div[id="Family"]{
  background-color: darkgreen;
}
div[id="Crime"]{
  background-color: darkslategrey;
}
div[id="Fantasy"]{
  background-color: palevioletred;
}
div[id="History"]{
  background-color: rgb(122, 38, 8);
}
div[id="Horror"]{
  background-color: rgb(48, 2, 2);
}
div[id="Music"]{
  background-color: violet;
}
div[id="Mystery"]{
  background-color: olivedrab;
}
div[id="Romance"]{
  background-color: rgb(195,52,78);
}
div[id="TV Movie"]{
  background-color: rgb(90,83,73);
}
div[id="Thriller"]{
  background-color: rgb(92, 6, 6);
}
div[id="War & Politics"]{
  background-color: rgb(5, 100, 100);
}
div[id="Western"]
{ 
  background-color: #E0B88F;
}
div[id="Kids"]{
  background-color: #ECC434;
}
div[id="Thriller"]{
  background-color: #840808;
}
div[id="Reality"]{
  background-color: #728CAA;
}
div[id="Talk"]
{ 
  background-color: #063699;
}
div[id="News"]
{ 
  background-color: #B20000;
}
div[id="Soap"]
{ 
  background-color: #ED96AF;
}
a[id="trailer"]
{
  display: block;
  border-style:solid;
  border-color:white;
  border-radius:20px;
  width: fit-content;
  padding:5px;
  text-align: center;
  margin:5px;
  text-decoration: none;
}
a[id="trailer"]:hover 
{
  
  border-color:rgb(255,0,77);
  color:rgb(255,0,77);
  
}

